* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: flex;
    gap: 8px;
    height: 60px;
}

.loader span {
    width: 8px;
    height: 100%;
    background: red;
    animation: pulse 1s ease-in-out infinite;
    transform-origin: bottom;
}

.loader span:nth-child(1) { animation-delay: 0.1s;}
.loader span:nth-child(2) { animation-delay: 0.2s;}
.loader span:nth-child(3) { animation-delay: 0.3s;}
.loader span:nth-child(4) { animation-delay: 0.4s;}
.loader span:nth-child(5) { animation-delay: 0.5s;}

@keyframes pulse {
    0%, 100%{

        transform: scaleY(0.3);
        opacity: 0.6;
    }
    50% {
        transform: scaleY(1);
        opacity: 1;
    }
}